#weather_more {
  position: fixed;
  top: 70px;
  height: calc(100vh - 70px);
  width: 420px;
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  gap: 10px; /* 设置区块之间的间距 */
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  font-size: 22px;
  color: rgb(64, 64, 64);
  border: none;
  padding: 0px 6px;
}

/* 顶部图标区域：固定高度，不参与拉伸 */
#weather_condition {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 75px;               /* 固定高度 */
  padding-left: 5px;
  overflow-x: auto;
}

.forecast_icon {
  text-align: center;
  margin-right: 4px;
  font-size: 13px;
}

.forecast_icon img {
  height: 46px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* 图表区域：平分剩余高度，自动拉伸 */
#weather_temperature,
#weather_wind {
  flex: 1;         /*  平分高度 */
  overflow: hidden;
}
